/* Colour palette
Greys:  rgb(46,45,45)
Blacks: rgb(38,37,36),   rgb(16,15,13)
Greens: rgb(127,204,42), rgb(136,207,58)
Cream: 
*/

/*GENERIC STYLING*/
html{
    font-size: 16px;
}

body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
}

main{
    width: 100%;
    margin-top: 105px;
    margin-left: 0;
    background-color: white;
}

h2{ 
    font-weight: 600;
}
h1{
  
    font-weight: 700;
}

a{
    color: black;
    font-weight: 600;
    font-size: 1.2rem;
}

    a:hover{
        color: lightslategrey;
        font-size: 1.4rem;
        text-decoration: none;
        transition: 0.5s;
    }

    
    .flex-row {
        display: flex;
        flex-direction: row;
    }

    .hidden{
        display: none;
    }

    .full-width-container {
        width: 100%;
        margin: 0 auto;
        height: auto; 
    }

/*HEADER STYLING - ALL PAGES*/
header{
    width: 100%;
    border-bottom: 3px solid black;
    border-radius: 4px;
    position: fixed;
    top: 0;
    left: 0;
    height: 105px;
    background-color: white;
    z-index: 1;
}

    .hamburger {
        display: inline-block;
        cursor: pointer;
        width: 25%;
        height: auto;
        margin: auto;
        position: absolute;
        top: 30px;
        left: 15px;
    }
  
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }
  
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
    
    .change .bar2 {opacity: 0;}
    
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }

    #logo-img{
        position: absolute;
        top: 0;
        left: 20%;
    }

    #social-media{
        position: absolute;
        top: 30px;
        right: 15px;
    }
   
    .mob-menu{
        background-color: rgba(255,255,255,0.9);
        position: fixed;
        top: 105px;
        z-index: 300;
        text-align: center;
        width: 100%;
        height: 200px;
        padding-top: 3rem;
        display: none;
        transition: 1s;
    }

    .display {
        display: block;
        }

    .menu-container{
        display:none;
    }

    /*MEDIA QUERY FOR NAVIGATION*/
    @media only screen and (min-width: 790px){
    .mobile-menu-container{
            display: none;
        }
        .menu-container{
            display: block;
        }
        #logo-img {
            position: absolute;
            top: 0px;
            left: 15px; 
        }

        .menu{
            display: block;
            position: absolute;
            top: 35px;
            left: 200px;
        }
        .menu span{
            padding-left:1rem;
        }
        #social-media img{
            padding-right: 5px;
        }

        #social-media{
            height: 105px;
            margin: auto;
        }
    } /*END OF MEDIA QUERY*/


/*HOME PAGE STYLING*/

     

            #about-us{
                background-color: rgb(136,207,58,1);
                padding: 2rem 0;
                text-align: center;
            }
            #about-us p{
                padding: 0.5rem;
                width: 90%;
                margin: auto; 
            }
    
        .vm-layout-container{
            text-align: center;
            height: auto;
        }
           
        .vm-content-text{
        background-color: rgba(46,45,45,0.6);
        text-align: center;
        color: white;
        border-radius: 4px;
        padding: 2rem 0;
        max-height: 400px;
        }
         

        .vm-content-text h2
        {
        width: 90%;
        padding: 1rem 0;
        margin: auto;
        }

        .vm-content-text p
        {
        width: 90%;
        text-align: center;
        margin: auto;
        }

            #guided-rides {
            background-image: url(../images/guided-rides.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;   
            height: auto;
            border-radius: 4px;
            }

            #contact-us-text{
            background-color: white;
            color: rgba(0,0,0,1);
            max-height: 400px;
            text-align: center;
            padding: 0.5rem;
            border-radius: 4px;
            }

            #contact-us-text p{
                font-weight: 500;
            }

            #ride-it-rad{
            background-image: url("../images/rirlogo.png");
            background-position: center;
            background-repeat: no-repeat;
            height: 300px;
            border-radius: 4px;
            }

            #ride-it-rad-text{
            background-color: rgba(46,45,45,0.8);
            text-align: center;
            color: white;
            padding: 2rem 0;
            height: 300px;
            border-radius: 4px;
            }

        .btn{
        margin: 2rem auto 1rem auto;
        width: 175px;
        padding: 0.5rem;
        background-color: rgba(255,255,255,0.7);
        border: none;
        border-radius: 5px;
        font-weight: 600;
        }
        .btn:hover{
            background-color: rgba(136,207,58,0.7);
        }
            #contact-us .btn{
            background-color: rgba(46,45,45,1);
            color: white;
            }
            #contact-us .btn:hover{
                background-color: rgba(136,207,58,1);
            }

    /*HOME PAGE MEDIA QUERIES*/
    @media only screen and (min-width: 790px){
        .banner{
            background-image: url(../images/36633-cwmcarn-forest-caerphilly-02.jpg);
            background-repeat: no-repeat;
            background-position: center;
            margin-top: 0.2rem;
            border-radius: 4px;
            max-height: 400px;
        }
    } 

    @media only screen and (min-width: 830px){
        .vm-layout-container{
            left: 0;
            max-width: 830px;
            margin: auto;
        }

        .vm-content{
            margin-bottom: 20px;
        }

        #about-us{
           font-size: 1.2rem;
        }

        .banner{
            height: 500px;
            margin-bottom: 20px;
        }
    }

/*FOOTER STYLING ALL PAGES*/
footer {
    background-color: rgb(46,45,45);
    width: 100%;
    height: auto;
    padding: 0.7rem;
}
    .footer {
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 75px;
        margin: auto; 
        padding: 1.5rem;
    }
    .footer p{
        color: white;
        font-size: 0.7rem;
        text-align: center;
    }

    .footer a{ 
        color: white;
        font-size: 0.7rem;
        font-weight: 400;

    }
 
        #bcl2,
        #footer-contact,
        #footer-cookies{
            width: 33%;
            height: 80px;
            margin: 0 auto;
            text-align: center;
        }
        #copyright{
            text-align: center;
            height: 50px;
            margin: auto;
            padding-top: 1rem;
        }


    @media only screen and (min-width: 770px){
        .footer p,
        .footer a{
            font-size: 1rem;
            font-weight: 400;
        }
    }

    @media only screen and (max-width: 476px){
        #bcl2 {
            display: none;
        }
        .footer {
            display: block;
        }
    }

/*GUIDE RIDES PAGE ADDITIONAL CSS*/

    #rides,
    #contact  {
         margin-top: 105px;
    }

    .border {
        border: 2px solid black;
    }

    #rides-main-text,
    #news {
        background-color: rgba(136,207,58,1);
        padding: 2rem;
        text-align: center;
    }

    #news p{
        padding-bottom: 1rem;
    }

       #news a:hover {
        color: white;
        font-size: 1.2rem;
    }

    #rides-layout{
        margin: 0.2rem 0 0 0;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
    }
   
    .rides-container{
        width: 100%;
        margin: 0.5rem auto ;
    }

    .rides-title{
        height: 3rem;
        background-color: rgba(46,45,45,1);
        color: white;
        border-radius: 4px;

    }
    .rides-title h4,
    .rides-title span{
        font-size: 1.2rem;
        margin: auto;
        
    }
    .rides-container h4 {
        font-weight: 600;
        width: 75%; 
    }
    .rides-title .fa{
        width: 25%;
    }
  
    .ride-info {
        font-size: 0.9rem;
        padding: 0.5rem 1.2rem;
    }
    .rides-stats{
        width: 100%;
        padding: 0 1rem;
    }
    .ride-stats p{
        font-size: 0.9rem;
        padding: 0 1.5rem;
    }
 
    table{
        width: 100%;
        padding-left: 1.5rem;
        margin-bottom: 2rem;  
    }

    td{
        font-size: 0.7rem;
        padding: 0 1rem;
        width: 30%;
    }

    .headings td{
        font-weight: 600;
    }

    #rides-layout .accordian-content{
        display: none;
    }

    #rides-layout .active .accordian-content{
        display: block;
    }

    #rides-layout .active .rides-title{
        background-color: rgba(136,207,58,1);
        color:  rgba(46,45,45,1);
  
    } 

    #register-form{
        width: 100%;
        margin: auto;

    }
    #mailing-register {
        width: 85%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        resize: vertical;
        margin-bottom: 1rem;
    }

    #mailing-register-button {
        width: 150px;
        background-color: rgba(46,45,45,1);
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    @media only screen and (min-width: 1030px){
        .rides-container {
            width: 23%;
            margin: 0.5rem;
            background-color:  rgba(46,45,45,0.1);
            border-radius: 4px;
            
        }

        .rides-title span{
            display: none;
        }

        .ride-info {
            font-size: 0.9rem;
            padding: 0.9rem 0.5rem;
            min-height: 300px; 
        }

        #rides-layout .accordian-content{
            display: block;
        }

        #rides-layout .active .rides-title{
            background-color: rgba(46,45,45,1);
            color: white;
      
        } 
        #mailing-register {
            width: 50%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            resize: vertical;
            margin-bottom: 1rem;
        }
    
        #mailing-register-button {
            width: 100px;;
            background-color: rgba(46,45,45,1);
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        #mailing-register-button:hover{
            background-color:white;
            color:  rgba(46,45,45,1);
          }
    }
    @media only screen and (min-width: 800px) and (max-width: 1029px){
        
        .rides-container {
            width: 45%;
            margin: 0.5rem;
            background-color:  rgba(46,45,45,0.1);
            border-radius: 4px;
            
        }

        .rides-title span{
            display: none;
        }

        .ride-info {
            font-size: 0.9rem;
            padding: 0.9rem 0.5rem;
            min-height: 300px; 
        }

        #rides-layout .accordian-content{
            display: block;
        }

        #rides-layout .active .rides-title{
            background-color: rgba(46,45,45,1);
            color: white;
      
        } 
        #mailing-register {
            width: 50%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            resize: vertical;
            margin-bottom: 1rem;
        }
    
        #mailing-register-button {
            width: 100px;;
            background-color: rgba(46,45,45,1);
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        #mailing-register-button:hover{
            background-color:white;
            color:  rgba(46,45,45,1);
          }

    }

    .ride-info a {
        font-size: 0.9rem;
    }

    .book {
        border-radius: 4px;
        background-color: rgba(46,45,45,1.0);
        border: none;
        color: white;
        height: 1.5rem;
        font-size: 1rem;
        text-align: center;
        margin: auto;
    }

    .book:hover {
        background-color: rgba(136,207,58,1);
        color: rgba(46,45,45,1);
    }

    .cancelled
    {
        background-color: red !important;
        color: white !important;
    }

    /*COOKIES CSS*/

    #cookies{
        width: 90%;
        margin: auto;
        padding: 1rem 0;
    }
    /*CONTACT US CSS*/

    #contact-us-title {
        background-color: rgba(136,207,58,1);
        text-align: center;
        padding: 2rem;
    }

    .form-container p{
        text-align: center;
        font-weight: 600;
    }
    /* Style inputs, select elements and textareas */
    .form-container input[type=text], textarea{
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        resize: vertical;
    }
  
  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  /* Style the submit button */
  .form-container input[type=submit] {
    background-color: rgba(46,45,45,1);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    width: 150px;
    margin: auto;
  }

  .form-container input[type=submit]:hover{
    background-color: rgba(136,207,58,1);
    color:  rgba(46,45,45,1);
  }
  
  /* Style the container */
  .form-container {
    width: 100%;
    border-radius: 4px;
    background-color: rgba(46,45,45,0.1);
    padding: 1.5rem;
  }
  
  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media only screen and (max-width: 600px) {
    .col-25, .col-75, .form-container input[type=submit] {
      width: 100%;
      margin-top: 0;
      margin-left: 0.75rem;
    }
  }

  @media only screen and (min-width: 830px){
    .form-container {
        max-width: 830px;
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 1.5rem;
        margin: 1rem auto;
      }
    }

    .g-recaptcha {
        width: auto;
        margin: auto;
    }


    .parallax  {
        width: 90%;
        margin: auto;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #image1 {
        background-image: url('../images/IMG_20191225_122116.jpg');
        height: 80vh;
    }

    #image2 {
        background-image: url('../images/IMG_20191101_12345.jpg');
        height: 80vh;

    }

    #image3 {
        background-image: url('../images/IMG_20191102_115610.jpg');
        height: 80vh;
    }
    #image4 {
        background-image: url('../images/IMG_20191225_121037.jpg');
        height: 80vh;
    }

    .galleryText {
        padding: 1.5rem 0.5rem;
        border-radius: 5px;
        background-color: rgba(46,45,45,1) ;
        color: white;
    }

    .galleryText a {
        color: white;
        font-size: 1rem;
        font-weight: 500;
    }

    .galleryText a:hover{
        color: rgba(136,207,58,1);
        font-size: 1.2rem;
    }

    @media only screen and (max-width: 800px) {
    
        .parallax {
            width: 100%;
            background-attachment: scroll;
        }

        #image1, #image2, #image3, #image4 {
          height: 25vh;
        }
    }